<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xiaohuashifu.share.dao.ShareCommentCommentLikeMapper">
    <sql id="BaseColumnList">
        id, user_id, share_comment_comment_id, create_time, update_time
    </sql>

    <insert id="insertShareCommentCommentLike" parameterType="top.xiaohuashifu.share.pojo.do0.ShareCommentCommentLikeDO"
            useGeneratedKeys="true" keyProperty="id">
        insert into share_comment_comment_like(user_id, share_comment_comment_id)
        values(#{userId}, #{shareCommentCommentId})
    </insert>

    <delete id="deleteShareCommentCommentLikeByUserIdAndShareCommentCommentId" parameterType="map">
        delete from share_comment_comment_like
        where user_id = #{userId} and share_comment_comment_id = #{shareCommentCommentId}
    </delete>

    <select id="getShareCommentCommentLike" resultType="top.xiaohuashifu.share.pojo.do0.ShareCommentCommentLikeDO"
            parameterType="integer">
        select
        <include refid="BaseColumnList"/>
        from share_comment_comment_like
        where id = #{id}
    </select>

    <select id="countByUserIdAndShareCommentCommentId" parameterType="map" resultType="integer">
        select count(*)
        from share_comment_comment_like
        where user_id = #{userId} and share_comment_comment_id = #{shareCommentCommentId}
    </select>
</mapper>